services:
  web:
    container_name: temperture-web-1
    build: .
    volumes:
      - .:/app
    environment:
      - FLASK_ENV=development
      - FLASK_APP=app:create_app
      - FLASK_DEBUG=1
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis
    networks:
      - app-network

  nginx:
    container_name: temperture-nginx-1
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./data/certbot/conf:/etc/letsencrypt:ro # 읽기 전용
      - ./data/certbot/www:/var/www/certbot:ro # 읽기 전용
    networks:
      - app-network
    depends_on:
      - web

  certbot:
    container_name: temperture-certbot-1
    image: certbot/certbot
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    networks:
      - app-network

  redis:
    container_name: temperture-redis-1
    image: "redis:alpine"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
