services:
  web:
    container_name: temperture-web-1
    build: .
    volumes:
      - .:/app
    expose:
      - "5000"
    environment:
      - FLASK_ENV=${FLASK_ENV}
      - FLASK_APP=${FLASK_APP}
      - FLASK_DEBUG=1
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=6379
      # [핵심] @db -> @shared-mysql-server 로 변경됨 (공용 DB 접속)
      - DATABASE_URL=mysql+pymysql://${MYSQL_USER}:${MYSQL_PASSWORD}@shared-mysql-server/${MYSQL_DATABASE}
    networks:
      - app-network

  redis:
    container_name: temperture-redis-1
    image: "redis:alpine"
    networks:
      - app-network

networks:
  app-network:
    external: true
