#cleaning-page {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 50px;
    align-items: center;
}

.cleaning-member-edit {
    padding: 10px 25px;
    background-color: #E6E6FA;
    color: #333333;
    font-weight: bold;
    font-size: 25px;
    border-radius: 8px;
}

.cleaning-member-edit:hover {
    background-color: #6772E5;
    color: white;
    cursor: pointer;
}

#this-week-member-box {
    display: flex;
    justify-content: center;
}

#this-week-member-list {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}

#this-week-member-list li {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 300px;
    height: 100px;
    background-color: #E6E6FA;
    font-size: 40px;
    font-weight: bold;
}

#cleaning-member-draw {
    padding: 10px 25px;
    background-color: #E6E6FA;
    color: #333333;
    font-weight: bold;
    font-size: 25px;
    border-radius: 8px;
}

#init-btn {
    padding: 10px 25px;
    background-color: #E6E6FA;
    color: #333333;
    font-weight: bold;
    font-size: 25px;
    border-radius: 8px;
}

#cleaning-btns {
    display: flex;
    gap: 20px;
}

#init-btn:hover {
    background-color: #6772E5;
    color: white;
    cursor: pointer;
}

.status-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin-top: 30px;
}

#cleaning-member-draw:hover {
    background-color: #6772E5;
    color: white;
    cursor: pointer;
}

.status-box {
    width: 40%;
    border: 2px solid #858484;
    border-radius: 3px;
}

.status-box h2 {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #858484;
    background-color: #f9f9f9;
}

.student-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 20px;
    min-height: 300px;

    column-gap: 20px;
    row-gap: 10px;
    align-content: flex-start;
}

.student-list li {
    font-size: 24px;
}

#cleaning-member-edit-modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    max-height: 85vh;
    text-align: center;
    position: relative;
}

#cleaning-member-edit-modal-content .form-group {
    margin-bottom: 20px;
}

#tab-promote h1 {
    margin-bottom: 40px;
}

#tab-promote h2 {
    margin-bottom: 10px;
}

#tab-promote .form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}