* {
    margin: 0;
    padding: 0;
    color: #333333;
}

.page-info {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    color: #333333;
    gap: 20px;
}

hr {
    width: 100%;
    height: 1px;
    background-color: black;
    border: 0;
}

.form-group input[type="text"] {
    width: 100%;
    box-sizing: border-box;

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-btn {
    margin-top: 20px;
    display: flex;
    justify-content: right;
    align-items: right;
    gap: 20px;
}

.save-btn {
    padding: 5px 20px;
    background-color: #28a745;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.delete-btn {
    padding: 5px 20px;
    background-color: #dc3545;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.save-btn:hover,
.delete-btn:hover {
    cursor: pointer;
}

.select-bar {
    font-size: 20px;
    vertical-align: middle;
    padding: 10px;
}

.edit-modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.6);

    z-index: 100;

    justify-content: center;
    align-items: center;
}

.edit-modal-backdrop.show {
    display: flex;
}

.close-modal-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
    line-height: 1;
}

#error-x {
    width: 300px;
    height: 300px;

    position: relative;
    margin-bottom: 30px;
}

#error-x::before,
#error-x::after {
    content: '';
    position: absolute;

    top: 50%;
    left: 50%;

    width: 100%;
    height: 30px;
    background-color: black;
    border: 6px;
}

#error-x::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

#error-x::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

#error-404 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 180px);
    gap: 20px;
    text-align: center;
}

.modal-message {
    position: absolute;
    top: 25%;
    left: 50%;
    z-index: 1050;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;

    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -20px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.modal-message.show {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
}

.modal-message.success {
    background-color: #e6f7ec;
    color: #218838;
}

.modal-message.error {
    background-color: #fbe9e9;
    color: #c92333;
}