.login-page {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
    background-color: white;
    width: 90%;
    max-width: 500px;
    height: auto;
    min-height: 250px;
    border: 1px solid #adadad;
    border-radius: 8px;
}

.login-info-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 0px;
}

.login-info {
    width: 100%;
    padding: 10px 0;
    transition: border-color 0.2s;
    border: 1px solid #adadad;
    background-color: white;
    position: relative;
}

.login-info:first-child {
    border-radius: 10px 10px 0px 0px;
}

.login-info:last-child {
    border-radius: 0px 0px 10px 10px;
    margin-top: -1px;
}

.login-info:focus-within {
    border: 2px solid#6772E5;
    z-index: 1;
}

.login-info label {
    font-size: 12px;
    color: #312b2b;
    display: block;

    padding: 0 12px;
}

.login-info input {
    width: 100%;
    font-size: 20px;
    border: none;
    outline: none;
    margin-top: 5px;
    box-sizing: border-box;
    padding: 0 12px;
}

#login-button {
    width: 90%;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;

    border-radius: 8px;
    border: none;
    background-color: #E6E6FA;
}

.alert p {
    color: red;
}

@media (max-width: 768px) {
    .login-page {
        margin-top: 30px;
    }

    .login-box {
        width: 95%;
        padding: 30px 0;
    }

    #login-button {
        width: 90%;
        height: 60px;
    }
}
