.main-page {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.main-menu {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 40px;
}

.main-page ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.main-page ul a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: #6772E5;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    font-size: 35px;
    font-weight: bold;
}

.main-page a:hover {
    background-color: rgb(172, 96, 189);
}