.temp-page {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.real-time-data {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    gap: 200px;
    font-size: 25px;
}

.numerical-data {
    font-size: 100px;
    margin-bottom: 50px;
}

.vertical {
    border-left: 2px solid black;
    height: 200px;
}

#recommend-temp {
    font-size: 20px;
}

.month-datas {
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.month-datas h2 {
    font-size: 30px;
}

.month-data-box {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(6, 1fr);
}

.month-box {
    background-color: #E6E6FA;
    border-radius: 8px;
    text-align: center;

    width: 200px;
    height: 150px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.temp-class-edit {
    padding: 10px 25px;
    background-color: #E6E6FA;
    color: #333333;
    font-weight: bold;
    font-size: 25px;
    border-radius: 8px;
}

.temp-class-edit:hover {
    background-color: #6772E5;
    color: white;
    cursor: pointer;
}

#temp-edit-modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
    max-height: 400px;
    height: 90%;
    text-align: center;

    position: relative;
}