.temp-page {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.real-time-data {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    gap: 200px;
    font-size: 25px;
}

.numerical-data {
    font-size: 100px;
    margin-bottom: 50px;
}

.vertical {
    border-left: 2px solid black;
    height: 200px;
}

#recommend-temp {
    font-size: 20px;
}

.month-datas {
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.month-datas h2 {
    font-size: 30px;
}

.month-data-box {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(6, 1fr);
}

.month-box {
    background-color: #E6E6FA;
    border-radius: 8px;
    text-align: center;

    width: 200px;
    height: 150px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.temp-class-edit {
    padding: 10px 25px;
    background-color: #E6E6FA;
    color: #333333;
    font-weight: bold;
    font-size: 25px;
    border-radius: 8px;
}

.temp-class-edit:hover {
    background-color: #6772E5;
    color: white;
    cursor: pointer;
}

#temp-edit-modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
    max-height: 400px;
    height: 90%;
    text-align: center;
    position: relative;
}

#modal-tabs {
    margin-top: 10px;
    display: flex;
    justify-content: left;
    border-bottom: 2px solid black;
    margin-bottom: 25px;
}

.modal-tab-btn {
    padding: 10px 20px;
    font-size: 22px;
    font-weight: 600;
    border: none;
    background-color: transparent;
    color: #888;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    /* margin-bottom: -2px; */
    transition: all 0.2s ease-in-out;
}

.modal-tab-btn:hover {
    color: #555;
    background-color: #ecebeb;
}

.modal-tab-btn.active {
    color: black;
    background-color: rgb(189, 186, 186);
}

.modal-tab {
    display: none;
}

.modal-tab.active {
    display: block;
}

.modal-title {
    font-size: 24px;
    margin: 20px;
    text-align: center;
}

#temp-edit-modal-content .form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-control[readonly] {
    background-color: #eee;
    cursor: not-allowed;
}

.form-btn {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}

.modal-message {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;

    padding: 12px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;

    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -20px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.modal-message.show {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
}

.modal-message.success {
    background-color: #e6f7ec;
    color: #218838;
}

.modal-message.error {
    background-color: #fbe9e9;
    color: #c92333;
}