{% extends 'base.html' %}
{% block content %}
<h1 class="page-info">
    <p>404호(1학년 교실)의 현재 온・습도</p>
    <select name="" id="">
    </select>
    {% if g.admin %}
    <button type="button" class="temp-class-edit">교실 정보 수정하기</button>
    {% endif %}
</h1>
<div class="temp-page">
    <div class="real-time-data">
        <div class="temp">
            <p class="numerical-data">19.3℃</p>
            <p>온도</p>
        </div>
        <div class="vertical"></div>
        <div class="humi">
            <p class="numerical-data">43.2%</p>
            <p>습도</p>
        </div>
    </div>
    <p id="recommend-temp">오늘은 10월 25일입니다. 추천 온도는 19~23도 입니다.</p>
    <div class="month-datas">
        <h2>지난 1년간 평균 온・습도</h2>
        <div class="month-data-box">
            <div class="month-box">
                <p>측정 데이터 없음</p>
                <p>측정 데이터 없음</p>
                <p style="font-weight: bold;">1월</p>
            </div>
            <div class="month-box">
                <p>평균 온도 : 19.3℃</p>
                <p>평균 습도 :</p>
                <p style="font-weight: bold;">2월</p>
            </div>
            <div class="month-box">
                <p>평균 온도</p>
                <p>평균 습도</p>
                <p style="font-weight: bold;">3월</p>
            </div>
            <div class="month-box">
                <p>평균 온도</p>
                <p>평균 습도</p>
                <p style="font-weight: bold;">4월</p>
            </div>
            <div class="month-box">
                <p>평균 온도</p>
                <p>평균 습도</p>
                <p style="font-weight: bold;">5월</p>
            </div>
            <div class="month-box">
                <p>평균 온도</p>
                <p>평균 습도</p>
                <p style="font-weight: bold;">6월</p>
            </div>
            <div class="month-box">
                <p>평균 온도</p>
                <p>평균 습도</p>
                <p style="font-weight: bold;">7월</p>
            </div>
            <div class="month-box">
                <p>평균 온도</p>
                <p>평균 습도</p>
                <p style="font-weight: bold;">8월</p>
            </div>
            <div class="month-box">
                <p>평균 온도</p>
                <p>평균 습도</p>
                <p style="font-weight: bold;">9월</p>
            </div>
            <div class="month-box">
                <p>평균 온도</p>
                <p>평균 습도</p>
                <p style="font-weight: bold;">10월</p>
            </div>
            <div class="month-box">
                <p>평균 온도</p>
                <p>평균 습도</p>
                <p style="font-weight: bold;">11월</p>
            </div>
            <div class="month-box">
                <p>평균 온도</p>
                <p>평균 습도</p>
                <p style="font-weight: bold;">12월</p>
            </div>
        </div>
    </div>
    <p>※ 모든 정보는 실시간으로 갱신됩니다.</p>
</div>
{% endblock %}