{% extends 'base.html' %}
{% block content %}
<h1 class="page-info">
    글로벌시스템융합과 {{ grade }}학년 {{ semester }}학기 정규수업 시간표
    <select id="grade-select">
        <option value="1" {% if grade==1 %} selected {% endif %}>1학년</option>
        <option value="2" {% if grade==2 %} selected {% endif %}>2학년</option>
        <option value="3" {% if grade==3 %} selected {% endif %}>3학년</option>
    </select>
    <select id="semester-select">
        <option value="1" {% if semester==1 %} selected {% endif %}>1학기</option>
        <option value="2" {% if semester==2 %} selected {% endif %}>2학기</option>
    </select>
</h1>
<div class="time-table-page">
    <table class="time-table">
        <thead class="time-table-day">
            <tr>
                <th></th>
                <th>월 月</th>
                <th>화 火</th>
                <th>수 水</th>
                <th>목 木</th>
                <th>금 金</th>
            </tr>
        </thead>
        <tbody>
            {% for period in range(1,10) %}
            <tr>
                <td class="time-table-time">
                    {{ period }}교시<br>
                    {{ "%02d:00 ~ %02d:50"|format(8+period, 8+period) }}
                </td>
                {% for day in ['mon', 'tue', 'wed', 'thu', 'fri'] %}
                {% set cell_key = day + "_" + period|string %}
                <td class="time-table-class" data-day="{{ day }}" data-period="{{ period }}" {% if
                    time_table[cell_key]%} data-lecture-name="{{ time_table[cell_key].lecture_name }}"
                    data-professor="{{ time_table[cell_key].professor }}"
                    data-classroom="{{ time_table[cell_key].classroom }}" data-color="{{ time_table[cell_key].color }}"
                    style="background-color: {{ time_table[cell_key].color if time_table[cell_key].color else '#FFFFFF' }};"
                    {% endif %}>
                    {% if time_table[cell_key] %}
                    <p>{{ time_table[cell_key].lecture_name }}</p>
                    <p>{{ time_table[cell_key].professor }}</p>
                    <p>{{ time_table[cell_key].classroom }}</p>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if g.admin %}
    <button type=" button" class="time-table-edit">시간표 수정하기</button>
    {% endif %}
</div>

<div class="edit-modal-backdrop">
    <div id="time-table-edit-modal-content">
        <span class="close-modal-btn">&times;</span>
        <h2>{{ grade }}학년 {{ semester }}학기</h2>
        <h3 id="time-table-cell-info"></h3>

        <form id="time-table-modal-form">
            <input type="hidden" id="time-table-modal-grade" name="grade" value="{{ grade }}">
            <input type="hidden" id="time-table-modal-semester" name="semester" value="{{ semester }}">
            <input type="hidden" id="time-table-modal-day" name="day">
            <input type="hidden" id="time-table-modal-period" name="period">

            <div class="form-group">
                <label for="time-table-modal-lecture">강의명</label>
                <input type="text" id="time-table-modal-lecture" name="lecture_name" required>
            </div>

            <div class="form-group">
                <label for="time-table-modal-professor">교수명</label>
                <input type="text" id="time-table-modal-professor" name="professor" required>
            </div>

            <div class="form-group">
                <label for="time-table-modal-classroom">강의실</label>
                <input type="text" id="time-table-modal-classroom" name="classroom" required>
            </div>

            <label>셀 배경색</label>
            <div class="color-swatches">
                <button type="button" class="color-swatch" data-color="#FFCDD2"
                    style="background-color: #FFCDD2; border: 1px solid #ccc;"></button>

                <button type="button" class="color-swatch" data-color="#FFCCBC"
                    style="background-color: #FFCCBC; border: 1px solid #ccc;"></button>

                <button type="button" class="color-swatch" data-color="#FFECB3"
                    style="background-color: #FFECB3; border: 1px solid #ccc;"></button>

                <button type="button" class="color-swatch" data-color="#DCEDC8"
                    style="background-color: #DCEDC8; border: 1px solid #ccc;"></button>

                <button type="button" class="color-swatch" data-color="#B2DFDB"
                    style="background-color: #B2DFDB; border: 1px solid #ccc;"></button>

                <button type="button" class="color-swatch" data-color="#B3E5FC"
                    style="background-color: #B3E5FC; border: 1px solid #ccc;"></button>

                <button type="button" class="color-swatch" data-color="#E1BEE7"
                    style="background-color: #E1BEE7; border: 1px solid #ccc;"></button>

                <button type="button" class="color-swatch" data-color="#dbdbdb"
                    style="background-color: #dbdbdb; border: 1px solid #ccc;"></button>

                <input type="hidden" id="modal-color" name="color" value="#FFFFFF">
            </div>

            <div class="form-btn">
                <button type="submit" class="save-btn">저장하기</button>
                <button type="button" class="delete-btn">삭제</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/time_table.js') }}"></script>
{% endblock %}