{% extends 'base.html' %}
{% block content %}
<h1 class="page-info">글로벌시스템융합과 {{ grade }}학년 {{ semester }}학기 정규수업 시간표</h1>
<div class="time-table-page">
    <table class="time-table">
        <thead class="time-table-day">
            <tr>
                <th></th>
                <th>월 月</th>
                <th>화 火</th>
                <th>수 水</th>
                <th>목 木</th>
                <th>금 金</th>
            </tr>
        </thead>
        <tbody>
            {% for period in range(1,10) %}
            <tr>
                <td class="time-table-time">
                    {{ period }}교시<br>
                    {{ "%02d:00 ~ %02d:50"|format(8+period, 8+period) }}
                </td>
                {% for day in ['mon', 'tue', 'wed', 'thu', 'fri'] %}
                {% set cell_key = day + "_" + period|string %}
                <td class="time-table-class" data-day="{{ day }}" data-period="{{ period }}" {% if
                    time_table[cell_key]%} data-lecture-name="{{ time_table[cell_key].lecture_name }}"
                    data-professor="{{ time_table[cell_key].professor }}"
                    data-classroom="{{ time_table[cell_key].classroom }}" {% endif %}>
                    {% if time_table[cell_key] %}
                    <p>{{ time_table[cell_key].lecture_name }}</p>
                    <p>{{ time_table[cell_key].professor }}</p>
                    <p>{{ time_table[cell_key].classroom }}</p>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if g.admin %}
    <button type="button" class="time-table-edit">시간표 수정하기</button>
    {% endif %}
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/time_table.js') }}"></script>
{% endblock %}